/*variable.less*/

$nav-background : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7d726c), to(#e5e2e1));
$nav-link-color : #e5e5e5;
$nav-background-color : #8a807a;
$nav-mobile-height : 44px;
$main-content-font : 'roboto-light', serif, monospace;
$header-font : 'roboto-regular', serif, monospace;

$h1 : 16px;